.postbox {
  font-size: 18px;
  display: grid;
  grid-template-columns: auto auto;
}

.postbox_input {
  width: 380px;
  height: 40px;
  font-size: 18px;
  border-radius: 15px;
}

.postbox_button {
  display: none;
}

.postbox_profileImg {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
