.post_box {
  border-radius: 15px;
  background-color: rgba(73, 73, 73, 0.85);
  margin: 10px;
  padding: 15px;
  max-width: 480px;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.post_profileImg {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.post_profileImg_box {
  text-align: center;
}

.post_content {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.post_image {
  display: block;
}

.post_time {
  text-align: right;
  font-size: smaller;
  color: rgb(178, 178, 178);
}

.post_text {
  padding-top: 8px;
}

.likes {
  padding-top: 10px;
  text-align: right;
  font-size: smaller;
  color: rgb(178, 178, 178);
}

.star_box {
  display: grid;
  grid-template-columns: 1fr auto;
  align-self: end;
}

.star {
  display: none;
}

.star_label {
  font-size: 21px;
  transition: 0.2s ease;
  color: orange;
  margin-left: 6px;
}

.star_label:hover {
  color: yellow;
  transition: 0.2s ease;
}
.star_label:active::before {
  transform: scale(1.1);
}

.star_label::before {
  content: "\2606";
}

.star:checked ~ .star_label::before {
  content: "\2605";
}

.follow_box {
  display: none;
  position: absolute;
}

.post_profileImg_box:hover .follow_box {
  display: grid;
  align-items: center;
}

.follow_button {
  background-color: rgba(211, 211, 211, 0.805);
  font-size: 15px;
  width: 80px;
  margin-left: 15px;
  border-radius: 5px;
  font-weight: 750;
  padding: 3px;
}

.follow_button:hover {
  filter: brightness(140%);
}

.unfollow_text {
  color: red;
}

.follow_text {
  color: green;
}
