.postbox {
  font-size: 18px;
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 15px;
  padding-top: 30px;
}

.postbox_input {
  width: 380px;
  height: 50px;
  font-size: 18px;
  border-width: 1px;
  border-radius: 15px;
  border-color: grey;
  margin-top: 30px;
  padding-left: 15px;
}

.postbox_button {
  display: none;
}

.postbox_profileImg {
  margin-top: 15px;
  border-radius: 50%;
  border: 1px solid rgb(109, 109, 109);
  height: 85px;
  width: 85px;
}

.postbox_profileImg:hover {
  filter: brightness(130%);
  transition: all 0.5s;
  background: rgb(255, 255, 255);
}

.postbox_profile {
  text-align: center;
  font-weight: 700;
}
