.navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 150px;
  padding-top: 15px;
  justify-items: center;
}

.navbar_link:hover {
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
  -o-filter: brightness(130%);
  -ms-filter: brightness(130%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: radial-gradient(closest-side, #bebebe60, #23232360, #b0b0b032);
}

.navbar_link {
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 70%;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}

.postbox {
  font-size: 18px;
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 15px;
  padding-top: 30px;
}

.postbox_input {
  width: 380px;
  height: 50px;
  font-size: 18px;
  border-width: 1px;
  border-radius: 15px;
  border-color: grey;
  margin-top: 30px;
  padding-left: 15px;
}

.postbox_button {
  display: none;
}

.postbox_profileImg {
  margin-top: 15px;
  border-radius: 50%;
  border: 1px solid black;
  height: 85px;
  width: 85px;
}

.postbox_profile {
  text-align: center;
  font-weight: 700;
}
